* {
  padding: 0;
}

#root{
  display: flex;
  flex-direction: column;
  color: #fff;
  font-weight: 500;
}

body{
  background-color: #101E74;
}

img{
  max-width: 100%;
}

#background {
  background-color: #ffffff33;
}

#text{
  color: #ffffff80;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  max-width: 100%;
}